.lightRed {
    border-radius: 50%;
    width: 100px ;
    height: 100px;
    background-color: black;
    margin-left: 35px;
    margin-top: 30px;
    background-color: rgb(241, 121, 121);
    border-top: 0.8em solid black;
 }


 .BrightRed {
     background-color: rgb(248, 2, 2);
     box-shadow:0 0 50px #f06292;
 }

 .lightOrange {
    border-radius: 50%;
    width: 100px ;
    height: 100px;
    background-color: black;
    margin-left: 35px;
    margin-top: 30px;
     background-color: rgb(230, 192, 122);
     border-top: 0.8em solid black;
 }

 .BrightOrange {
     background-color: rgb(255, 165, 0);
     box-shadow:0 0 50px #ffff00;
 }
 .lightGreen {
    border-radius: 50%;
    width: 100px ;
    height: 100px;
    background-color: black;
    margin-left: 35px;
    margin-top: 30px;
     background-color: rgb(68, 219, 126);
     border-top: 0.8em solid black;
 }
 .BrightGreen {
     background-color: rgb(2, 251, 35);
     box-shadow:0 0 50px #76ff03;
 }
.lightBox {
    width: 180px;
    height: 440px;
    background-color: rgb(59, 59, 59);
    border-radius: 25px;
    margin-left: 150px;
    padding-top: 1px;
    margin-top: 50px;
    border: 8px solid #111;
    
}
